**/.bonsai/Settings/
**/.bonsai/Packages/
**/.bonsai/*.exe
**/.bonsai/*.ps1
**/.bonsai/*.cmd
**/obj/
**/bin/
!.bonsai/Bonsai.config
!.bonsai/Nuget.config
**__pycache__**
**obj**
.vscode/

src/open_rigs.egg-info/

build/

*.settings
